[2012-12-12 15:33] spolu opened #2 "Optional `count` argument"
To be added on `user:likes`, `user:followed-by`, `user:follows`

[2012-12-12 17:02] spolu opened #3 "Reset `limit` when `use` is called"

[2012-12-12 18:23] #2 closed, assigned to n1t0

[2012-12-12 18:23] #3 closed, assigned to nobody

[2012-12-13 10:40] spolu opened #5 "statusCode -> code"
To be coherent with instagram API output

[2012-12-13 11:07] #5 closed, assigned to nobody

[2012-12-17 10:02] spolu opened #7 "Add `agent` option to ig spec"

[2012-12-17 10:18] spolu opened #8 "Readme small bug"
`ig.media('media_id', function(err, result, limit) {});`

`result` -> `media`

[2012-12-17 11:11] #7 closed, assigned to n1t0

[2012-12-17 11:11] #8 closed, assigned to n1t0

[2013-04-18 14:31] syldor opened #14 "'Callback fired twice' error"
When there is an exception raised in the callback 'cb' line 130, the exception-handling line 126 causes its re-firing.
Change proposition : (line 126)

[code]

[2013-06-10 14:54] #14 closed, assigned to nobody

[2014-01-23 23:47] hughstephens opened #18 "Update on geographies?"
Hi teleportd (?Nitrogram team),

Just wondering what the status on geographies is? I'm keen to use it, but less interested to do a recurring media_search which is a bit of a PITA.

Awesome package though :) keep up the good work, and I'll contribute anything that I can (I'm not a massively competent developer...)

Hugh

[2014-02-12 21:04] Meekohi opened #19 "media search ignores count parameter"
`media_search` needs the optional parameter `count` added to it:

[code]

can be between 1 and 100.

[2014-02-13 17:46] #19 closed, assigned to nobody

[2014-03-31 03:31] konsumer opened #21 "Realtime subscription"
Would it be useful to others to allow realtime subscription, so instagram can call your URL when new User, Tags, etc come in?

People would still need to implement the web callback, as described here:
http://instagram.com/developer/realtime/

If others want this, I will make a pull-request.

This is an example of how I imagine it would work:

You make express callback that looks like this:

[code]

[2014-04-02 12:54] #21 closed, assigned to nobody

[2014-04-11 18:43] grantmac opened #23 "Error: Please supply client_id and client_secret via use()"
On the first hit of the route /authorize_user authorises oaky.
On further hits of the route /authorize_user it results in a "Error: Please supply client_id and client_secret via use()" error, even thought both the  client_id and client_secret's are set in the use.

[2014-04-24 09:49] #23 closed, assigned to nobody

[2014-04-24 09:50] #18 closed, assigned to n1t0

[2014-06-16 21:50] ctaity opened #25 "tag_media_recent"
tag_media_recent can have count parameter, in the implementation, dont have.
I patched implementation of tag_media_recent like this:

params.count = options.count || 33;

33 is the max i think in instagram implmentation check this:

https://api.instagram.com/v1/tags/love/media/recent?access_token=1370602905.f59def8.5ed5074657374dab8658662e2528be4e&count=33

[2014-06-20 16:21] #25 closed, assigned to nobody

[2014-08-18 20:35] natdico opened #29 "Cannot pass a verify_token parameter when creating a Subscription"
add_tag_subscription function does not allow verify_token

[2014-08-20 16:28] beebs93 opened #30 "Actual "x-ratelimit-limit" in API request callbacks not provided"
The "limit" variable you are passing to callbacks is not the "x-ratelimit-limit" header, but the "x-ratelimit-remaining". It would be helpful to have both values passed instead of just the one.

https://github.com/teleportd/instagram-node/blob/master/lib/instagram.js#L163

I guess the simplest solution would be parse out that other header and pass it along as another argument to callbacks.

EDIT:

[2014-08-22 08:58] #30 closed, assigned to nobody

[2014-08-28 08:29] #29 closed, assigned to nobody

[2014-08-28 18:48] ghost opened #32 "200 data points per seconds ?"
What do you mean by 200 data points per seconds ? The maximum pictures that I am retrieving is 20 per request. How do you get 200 per second?

[2014-08-28 18:50] #32 closed, assigned to nobody

[2014-09-12 14:11] adambisek opened #33 "Deprecated params "next_max_tag_id" and "next_min_tag_id""
When I am using tag_media_recent endpoint and I use min_tag_id parameter, it returns this error:

{"pagination":{"next_max_tag_id":"1410528728840665","deprecation_warning":"next_max_id and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id instead","next_max_id":"1410528728840665","next_min_id":"1410528776932183","min_tag_id":"1410528776932183","next_url":"https:\/\/api.instagr

[2014-09-12 15:58] #33 closed, assigned to nobody

[2014-09-13 12:54] elleryfamilia opened #34 "count is ignored on user_media_recent"
On user_media_recent, the count option successfully restricts results received at once, but count isn't being taken into consideration for the pagination algorithm. If I request only 5 user_media_recent, pagination.next still allows me to fetch more than 5. In fact, it seems like it walks through all of the user's recent media.

[2014-09-16 15:12] #34 closed, assigned to nobody

[2014-10-13 20:13] renancouto opened #35 "Get all comments"
I know that this is not a limitation of this lib, but I think you guys might have a clue or two on how to get all comments from a media because Instagram's API only return the last 150.
Any help is appreciate, thanks!

[2014-10-13 20:18] #35 closed, assigned to nobody

[2014-10-24 07:39] t0k4rt opened #36 "Add more information about subscriptions"
Hi,
I'm using your library (thanks for your work!), I was stuck fora couple trying to make **del_subscription** function work ^^.
You should add in the documentation that the **auth_token** should not be provided in **ig.use()** when you call subscription function.
Indeed it will make an http request without _client_secret_ nor _client_id_ which will lead to an error.
That's would be great it woul

[2014-10-24 09:17] #36 closed, assigned to nobody

[2014-10-25 10:03] calvintwr opened #37 "next_max_id and min_id deprecated"
Hi,

When I use tag_media_recent, i get the deprecation warning of:

[code]

Should this be fixed or we can leave it?

[2014-12-09 06:22] ewgenius opened #40 "Instagram return 400 error, on cyrillic tag requests"
[code]

shows

[code]

[2014-12-09 08:46] #40 closed, assigned to nobody

[2015-01-02 17:15] willasaywhat opened #43 "Instagram Realtime API HMAC Verification"
I took a cursory look at the code, and it doesn't appear that there is a function in this library to verify the integrity of a POST from Instagram when using the real time API. Here is a link to the Ruby version which does include this, and a StackOverflow answer which (maybe) implements it in Node:

http://www.rubydoc.info/github/Instagram/instagram-ruby-gem/Instagram/Client/Subscriptions#validat

[2015-01-28 05:40] juicytone commented on #35
@spolu dear sir,

[2015-01-28 05:46] juicytone commented on #35
@spolu hello, could you please help me to solve the same issue? I can't retrieve (with API), load and even view more comments than 150. There was a way to grab all comment via PC before (iconosquare service). I tried even to grab all comments one-by-one on my cellphone, but the application started to hide all comments.

I would kindly appreciate your help!

[2015-02-04 19:53] jamidwyer opened #45 "404 error for ig.user and ig.user_media_recent"
It is likely I'm missing a step, but I'm getting a 404 when I call ig.user and ig.user_media_recent with the following code:
var ig = require('instagram-node').instagram();
ig.use({ client_id: 'YES',
         client_secret: 'YES' });
ig.user_media_recent('calvinklein', function(err, result, pagination, remaining, limit) {
    console.log(err);
    console.log(result);
});

I'm trying to do this wi

[2015-02-04 19:56] jamidwyer commented on #45
Hm. It looks like authentication is required for the user_media_recent endpoint. Is there a way to authenticate as the app but not as a user? Thanks.

[2015-02-04 20:10] #45 closed

[2015-03-22 00:42] texaspacm opened #47 "Search by Facebook ID"
I do not have a FourSquare ID, but I do have a Facebook ID.   I'm assuming I use the "ig.location_search" function, but not sure how to pass in the Facebook ID, or if it's even possible.

Any idea?

Thank you!

[2015-03-31 09:44] datpham23 opened #49 "How to user user subscription?"
I'm just curious how you actually use this api since I don't see how you specify the userid.

ig.add_user_subscription('http://MYHOST/user', [options,] function(err, result, remaining, limit){});

Ive tried doing something like this but that didn't work either.
[code]

[2015-04-12 04:12] renettarenula opened #50 "add_tag_subscription returning OAuthParameterException error"
I am trying to use the add_tag_subscription to use the realtime Instagram API. However, I can't seem to use this endpoint.

When I run:

instagram.add_tag_subscription('funny', 'localtunnelurl/callback', { verify_token: 'funnytag' }, function(err, result, remaining, limit) { console.log(err); console.log(result) });

it returns:

{ [Error: OAuthParameterException: Missing client_id or access_token

[2015-04-13 09:04] n1t0 commented on #50
Hi @renettarenula, I've test it on my side, and it seems to be working fine.

Here is the snippet that I used:
[code]
Result:
[code]

Can you post the code you have been using ? (without your client_id/secret)

[2015-04-13 09:11] n1t0 commented on #49
Hi @datpham23, while using this, you actually subscribe to all your client's authenticated users. So you don't specify any user_id.
You can find more information here: https://instagram.com/developer/realtime/#user-subscriptions

[2015-04-13 09:11] #49 closed

[2015-04-13 09:25] n1t0 commented on #47
Hi @texaspacm, you can indeed search for instagram locations using Facebook ID:
[code]

This will give you an instagram location id, from which you'll be able to retrieve medias using:
[code]

[2015-04-13 09:25] #47 closed

[2015-04-15 11:40] paultrial opened #51 "user_search method not working properly recently"
Since about yesterday (20-30 hours ago) the users.search method took whatever string and returnd a bunch of results. Now it returns an empty array. It returns someting only if the string perfectly matches an instagram username. The instagram API changelog has nothing on this modification. How do I get around this issue back to the previous functionality?

[2015-04-17 13:58] laurent-h commented on #50
Same issue for me although it was working a few weeks ago...

@n1t0: It seems to work when positioning Content-Type: application/x-www-form-urlencoded and correct Content-Length in call(...) with method='POST'.

[2015-04-17 16:05] michellechandra commented on #50
I am also getting this error, although it's worked in the past just fine.

[2015-04-17 16:18] n1t0 commented on #50
This is weird, I didn't manage to reproduce it on my end. Does it work better with `0.5.7`?

[2015-04-17 16:27] michellechandra commented on #50
@n1t0 updating the version fixed it, thanks!

[2015-04-17 16:31] n1t0 commented on #50
Awesome! Thanks to @laurent-h who fixed it!

@renettarenula Could you also test it with the new version?

[2015-04-19 04:25] renettarenula commented on #50
@n1t0 Thanks for the reply! It seems to be working fine for me as well!

[2015-04-19 04:25] #50 closed

[2015-05-01 15:55] lemoslincoln opened #53 "OAuthRateLimitException with pagination"
I want take just the fotos from a tag of today
I create this filter on ig.tag_media_recent or with the pagination?

var hdl = function(err, medias, pagination, limit) {
    if(err){
      console.log(err);
    } else {
      if(pagination.next) {
      console.log('Variavel pagination: %j', pagination);
      pagination.next(hdl); }
    }
  };
ig.tag_media_recent(hashtag, hdl);

[2015-05-13 13:50] jonaslund opened #54 "Problem with signed requests"
When using the signed request as in the example
[code]

this error is thrown
[code]

[2015-05-13 14:51] jonaslund commented on #54
So there's a problem with this request, when adding the access_token to the request by editing the main source, this error is thrown
[code]

So the only way to get access to the Likes api endpoint is to apply for it, requiring you to be a legit business etc. So closing for now.

[2015-05-13 14:51] #54 closed

[2015-05-24 19:57] gido commented on #53
Hi,

The thing is that by default [`tag_media_recent`](https://instagram.com/developer/endpoints/tags/#get_tags_media_recent) will return **all medias** with your specified hashtag if you follow the pagination with the next method (like you did) without an _exit clause_. Without an exit/filter clause you quickly reach the [Instagram API limit](https://instagram.com/developer/limits/).

Here is som

[2015-05-25 14:18] bicccio opened #55 "you must provide a client_id"
In the last days i get this error after the instagram authentication form:
code: 400,
error_type: 'OAuthException',
error_message: 'You must provide a client_id',

The code i'm trying is the one present in the 'Server-Side Authentication using OAuth and the Instagram API' section of your github page... I'm sure the client_id is set.

thx.
Fabrizio

[2015-05-25 17:06] etrom commented on #55
I am also having this problem.

[2015-05-25 18:28] etrom commented on #55
@bicccio I fixed it by updating to the latest version 0.5.7

[2015-05-25 19:56] bicccio commented on #55
Thx @etrom... it works!!!

[2015-05-25 19:56] #55 closed

[2015-06-04 15:03] EliuFlorez opened #56 "Uncaught SyntaxError: Unexpected token o"
Error en Followers
var user_id = 'XXXXXXXXXXXXXX';
api.user_followers(user_id, {count:100}, function(err, users, pagination, remaining, limit) {
			if (!err) {

			} else {
				console.log(err);
			}
		});

![error-followers](https://cloud.githubusercontent.com/assets/784787/7987093/242e0b34-0aa5-11e5-817c-0f4eec269f02.jpg)

[2015-06-04 17:45] #56 closed

[2015-06-04 17:45] EliuFlorez commented on #56
success

[2015-06-11 09:57] parthasharathi opened #59 "Get instagram access token without using browser interaction."
http://stackoverflow.com/questions/30777430/get-instagram-access-token-using-nodejs

[2015-06-17 21:18] oosswwaalldd opened #60 "Scopes not updating"
Hi guys,

I have a problem with the scopes, i keep getting this error:

code: 400,
  error_type: 'OAuthPermissionsException',
  error_message: 'This request requires scope=likes, but this access token is not authorized with this scope. The user must re-authorize your application with scope=likes to be granted write permissions.',

even though i am setting the scopes likes this in auth and reauth r

[2015-06-18 10:27] n1t0 commented on #59
This is not possible. Your users have to authorize you, and this happens in the browser.

[2015-06-18 10:27] #59 closed

[2015-06-18 10:29] n1t0 commented on #60
Hi, if you created your app after April 14th 2015, you need to request an access:

[2015-06-18 10:30] #53 closed

[2015-07-01 06:21] rasoolbi commented on #55
Excuse me iam also having same problem but didn't understand your solution , can u give some more details about that..Thanks in advance

[2015-07-01 07:35] bicccio commented on #55
@rasoolbi u have to update to the latest version.

[2015-07-01 07:39] rasoolbi commented on #55
instagram version or api version..can you plz tell me...i was blocked here.

[2015-07-01 07:40] bicccio commented on #55
instagram-node version...

[2015-07-01 08:02] rasoolbi commented on #55
https://api.instagram.com/oauth/access_token API URL
client_id,client_secret,grant_type,redirect_uri,code these are the post parameters iam sending.
Response am getting:
Array
(
    [code] => 400
    [error_type] => OAuthException
    [error_message] => You must provide a client_id
)
i didn't get instagram-node? and how to do that?

[2015-07-20 02:35] mycompassspins opened #62 "Comment Limit on user_self_media_recent"
This is probably not an issue per se, but I'm curious whether I'm missing something, or whether it's just not possible to get ALL the comments associated with a post using the `user_self_media_recent` method. Out of the box, for whatever reason, comments are capped at 8 with that method. Do I need to just make another api call to `ig.comments` to control the count?

In other news: instagram-node i

[2015-07-21 02:39] tracycollins opened #63 "How to use err.retry() ?"
I think I'd like to use this, but there's no documentation on how it's used.

Does is use a callback function?  Does it take any arguments?

Can someone point me at an example?

Thanks

[2015-07-21 15:25] matiaslarsson commented on #63
You can always check the source if the docs are sketchy. For example;
[code]

As you can see it calls itself again with the exact same arguments. It sure could be helpful to have some kind of err.retry iterator that increases after each retry so you could stop it after say three tries though!

[2015-07-21 15:48] tracycollins commented on #63
thanks Matias. I did try to figure out what it does from the source, but I'm a JS newbie and wasn't really sure that I'd understood correctly.

i agree. a bit more control over the retry would be helpful, considering how buggy i'm finding the instagram API to be.

[2015-07-21 18:52] matiaslarsson commented on #63
Yeah, one can spend some time trying to figure out other peoples (and your own) code sometimes. ;)

You could create a new issue for having better retry control and hope the maintainer or someone else creates a pull request.

[2015-07-31 20:18] saiichihashimoto opened #64 "Force HTTPS"
I am using the package along with browserify in a chrome extension's background process.

My issue is that the protocol of that page is chrome-extension, not https. Recently, the calls have been to `chrome-extension://api.instagram.com:443/v1/...` instead of `https://api.instagram.com:443/v1/...`. This obviously fails.

[2015-08-07 22:39] anipendakur opened #65 "Pagination fetches data repeatedly"
Hi there,

If I use the pagination object to call my callback repeatedly, I believe it fetches 'count' number of media over and over to reach the offset of data. I was wondering if there's a way to jump to an offset without fetching all the medias before it. Please let me know.

[2015-08-07 23:54] anipendakur commented on #65
oops closing this as this could be a usage issue, will ask the same on stack overflow instead.

[2015-08-07 23:54] #65 closed

[2015-09-04 10:26] 2byte opened #66 "Does not work with access_token"
Simple example from doc.

[code]

`Error: OAuthAccessTokenException: The access_token provided is invalid.`
My access tokens 100% working

[2015-09-04 16:40] n1t0 commented on #66
Hey @2byte. Actually your tokens should look like this: `xxxxxxxx.xxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxx`. ie: 3 parts, joined by dots.
This is working well on my side.

[2015-09-04 16:40] #66 closed, assigned to nobody

[2015-09-14 23:48] misterjt opened #67 "Proxy"
Is it possible to use proxy with you library?
I mean connect to instagram server through proxy server via HTTPS.

[2015-09-17 22:02] clarkie opened #68 "add_tag_subscription not working but curl does"
Hi,

I'm having a real brain fart trying to get my subscriptions working. I have it working locally using your library and it works perfectly. I can add, and delete subscriptions which has a callback url to my aws hosted ec2 instance. It works and the ec2 instance receives the updates.

My problem is that if I try and create the subscription from the ec2 instance (with the same code + config, etc)

[2015-09-18 17:53] michellechandra commented on #68
My app is also getting this error as well now when it has worked previously in the past.

[2015-09-19 19:50] michellechandra commented on #68
I updated my version to 0.5.8 and created a new client with the Instagram API and that fixed the issue.

[2015-09-23 04:18] arathael commented on #68
Same thing here, solution by @michellechandra worked. It still makes no sense.

[2015-09-23 08:19] clarkie commented on #68
I'm not convinced the version makes any difference. I've raised an issue with Instagram as I couldn't create any subscriptions through my EC2 instance or from my laptop at home but I could from my laptop on a cafe's wifi. My suspicion is that they throttle subscription creation by IP. E.g. it'll work for a bit from one location then :boom: it just stops working.

[2015-09-23 08:33] arathael commented on #68
Throttling makes sense. But they should document that. It would be a bummer to have a low subscription creation rate.

[2015-09-24 10:39] m2sh opened #69 "user_media_recent method with pagination doesn't stop!"
i don't know why using pagination with `user_media_recent` method the two parameters : `remaining` & `limit` sets to 5000 the in each iterate `remaining` counts down by 20 & the pagination will never ends and loops forever.  (note that the user only have 30 media)

[code]

How can fix problem?

[2015-09-24 10:54] m2sh commented on #69
I think error fixed by setting `{ count : 10}` for the `user_media_recent` method like this:

[code]

[2015-09-24 12:42] #69 closed, assigned to nobody

[2015-09-24 17:57] mrkstwrt commented on #68
Has this issue been resolved? My own app has a similar problem that just recently started occurring, so I'm wondering if Instagram have changed anything we aren't aware of.

[2015-09-30 15:47] przemyslawpluta opened #70 "upload video"
Is video upload supported? Thanks.

[2015-10-10 23:55] ghost opened #71 "Unable to store api credentials in environment variables"
Module was working great as I tested with my Instagram credentials  declared in the controller, but I can't get them to work as env variables. (The credentials are valid, and all my other env variables work.)

I scaffolded my app with the angular-fullstack Yeoman generator, and haven't changed its basic architecture. In /server/config/local.env.js I have:

[code]

In /server/config/environment/ind

[2015-10-11 00:34] ghost commented on #71
UPDATE: this has nothing to with node-instagram. I ported my SMTP setup to env variables and just realized I'm having the same problem with those. Sorry. Closing issue.

[2015-10-11 00:34] #71 closed, assigned to nobody

[2015-10-30 02:38] ecjs commented on #68
I am currently having the same issue, except on Heroku.  Not sure how some of the larger apps that are using this subscription API service aren't severely impacted by this right now.

My only thought on fixing this right now is routing requests through a proxy (with a few different IPs), to avoid the slowdown.

With Heroku, restarting the app fixes my issue (probably because you get a new IP?)

[2015-10-30 20:03] ecjs commented on #68
FYI: I also upgraded to v0.5.8, I am now signing all requests, and I am still getting this callback URL error semi-frequently. It will work, and then it won't.  I won't even see a GET request to the callback URL at all in the server logs.

Its possible that this is a new campaign on Instagram's part to combat spam, small apps, etc making calls to their API that are not substantive to their operati

[2015-10-30 20:26] mrkstwrt commented on #68
I'm getting the same issues with this lib and my own code, instagram are unresponsive to questions

[2015-10-30 22:14] ecjs commented on #68
I am going to try routing the requests through a proxy/static IP service.  I will let you know if that helps correct the issue.

[2015-10-31 01:00] michellechandra commented on #68
Interesting, I starting having these issues in September, and assumed it was due to the number of requests I was making (my app was collecting data for a very popular hashtag). I was able to collect data without a problem from May 2015 - Sept 2015 and assume some change to API occurred in September. However, an app I have that makes requests for data for a less used hashtag runs without a problem

[2015-10-31 01:20] ecjs commented on #68
I have an app that barely makes any requests right now, so I don't think its necessarily an issue with quantity of requests, they have rate limiting.

[2015-10-31 02:21] michellechandra commented on #68
Okay, good to rule that out then. Let me know if you figure out a solution!

[2015-10-31 23:01] ecjs commented on #68
So far so good on using a proxy to handle the requests.  With Heroku I am using https://devcenter.heroku.com/articles/quotaguardstatic as the static IP/proxy.  If you check out my fork, I end up using the request module.

https://github.com/ecjs/instagram-node

I am using Request (https://github.com/request/request) because it has a built in proxy option.  I am currently just using the proxy for t

[2015-10-31 23:05] ecjs commented on #68
Until Instagram figures out how NOT to block shared IPs as "spam", I think we need a solution for something like this for those that do not have private fixed/static IPs.  I am assuming right now this is a long term solution, but I may be wrong.

It might be that we should code this in a way, that someone can pass in the proxy as a param on a per request basis for each endpoint.

And we can contin

[2015-11-24 14:06] pablohpsilva opened #72 "method user_followers not returning followers"
I'm following the instructions on the gitpage and when I try to use this method:

[code]

The "users" array is always empty. My instagram account has around 190 followers in it. Why is it returning an empty array, then?

My configuration object is:

[code]

full code:

[code]

[2015-11-25 02:39] tomasdev opened #73 "Migrating to promises"
What would you think about migrating to promises and leaving backwards compatibility (or maybe not and release 1.0.0) ?

I'm willing to make the PR

[2015-11-25 16:56] tom2strobl opened #75 "Not possible to use both client_secret and access_token for requests"
Am I correct: The system assumes that you either use `client_id` + `client_secret` **OR** an `access_token` (eg in the `use` public function).

But if I want to sign my requests so I don't run into spamming algorithms as quickly (yup that's the case), I want to request with an access_token (to get 5k req's per user) and still need to send my app's `client_secret` for signing.

While it works by ov

[2015-11-25 16:57] tom2strobl commented on #56
What did you change @EliuFlorez ?

[2015-11-25 17:39] shakked opened #76 "How to sign regular requests?"
I'm can't seem to figure out how to sign regular requests like fetching a user's media:

Instagram.user_media_recent(account.get("user_id"), {
    "access_token" : account.get("access_token")
    sign_request: {
        client_secret : "xxx"
    }
    }, handle);
}

[2015-12-02 11:11] tom2strobl commented on #76
See #75

[2015-12-02 13:17] nonelove opened #77 "Got an error 'SyntaxError: Unexpected token O ......'."
SyntaxError: Unexpected token O
    at Object.parse (native)
    at IncomingMessage.<anonymous> (/srv/www/heart/releases/20151202120536/node_modules/instagram-node/lib/instagram.js:192:27)
    at emitNone (events.js:72:20)
    at IncomingMessage.emit (events.js:166:7)
    at endReadableNT (_stream_readable.js:903:12)
    at doNTCallback2 (node.js:439:9)
    at process._tickCallback (node.js:353:17

[2015-12-02 17:37] Quenjy opened #78 "Does err.retry() not work between .js files ?"
Hello,

So my app often reached the limit, and I've made an errorhandling function to set a timeout for 5 min when the error comes from reaching the limit

(by adding this after each API call)
    if (err) {
        errorHandling(err);
    }

and this part in the errorHandling function :

 if (err.code == 429) {
            console.log(getDateTime()+"The limit has been reached. ");
            con

[2015-12-10 15:06] #78 closed, assigned to nobody

[2015-12-17 02:19] limafelipe commented on #73
+1

[2015-12-29 21:48] marcioamr opened #80 "get_authorization_url uses only response_type: 'code'"
The method get_authorization_url in file instagram.js (line 1415) uses only response_type 'code'.
Is there another way to change this value to 'token'?

[2016-01-01 15:25] codeOfRobin commented on #23
Got this issue again.

Error: Please supply client_id and client_secret via use()

[2016-01-03 01:40] andrewfschorr commented on #23
This seems to be happening again for me as well, subsequent hits after the initial one throw the above error.

[2016-01-04 20:28] mwhitlock commented on #73
+1

[2016-01-06 18:46] radzserg opened #81 "user_self_feed wrong URL"
https://www.instagram.com/developer/endpoints/users/#get_users_media_recent_self

uses GET/users/self/media/recent
currently '/users/self/feed' is used
call('GET', '/users/self/feed',

instagram.js line 403

[2016-01-10 16:44] gmork commented on #81
The /users/self/feed used to work but has been deprecated. There will be no replacement for it as Instagram closed it down.

The call in the instagram.js code will still work for those with an older access token, until June 2016.

Sources:
- http://stackoverflow.com/questions/34081661/instagram-apis-self-feed-replacement
- http://developers.instagram.com/post/133424514006/instagram-platform-update

[2016-01-24 06:28] pamo commented on #73
How's this coming along?

[2016-01-24 18:08] tomasdev commented on #73
@pamo not coming. Would you like to do it? go for it!, btw repo owner never replied...

[2016-01-28 13:52] dhirajsharma072 commented on #23
I am getting same error "Please supply client_id and client_secret via use()" in version 0.5.8.
Please suggest solution for this. Thanks!

[2016-02-10 06:44] tomasdev commented on #73
In case you still need it, this is a workaround to "promisify" this module API. Sample usage included:

[code]

I think there's no way of making it backwards compatible with the current non-promises approach and also I haven't heard from @totemstech on this thread either.

[2016-02-10 07:06] tomasdev commented on #73
Pull request added, candidate docs in PR can be previewed at https://github.com/tomasdev/instagram-node/#promises

[2016-02-18 17:36] MPolymath opened #84 "*.media_popular function using non-existant endpoint"
## Issue

The path that is being visited by function .media_popular() is no longer an endpoint at https://api.instagram.com

method: "GET"
path: "/media/popular"

Available media endpoints at https://api.instagram.com: (https://www.instagram.com/developer/endpoints/media/)
1. /media/media-id
2. /media/shortcode/shortcode
3. /media/search
## Steps to reproduce

var api = require('instagram-node').i

[2016-02-20 22:18] jumbosushi opened #85 "user_media_recent does not work properly"
user_media_recent did not work properly for me

[2016-02-25 02:32] eugenekgn commented on #77
+1

[2016-02-25 02:37] loveintowind commented on #77
+1

[2016-03-02 10:33] Volox commented on #67
+1 I have the same problem. Also using the `request` lib makes it simple see ttezel/twit#7

[2016-03-02 10:47] misterjt commented on #67
@Volox https://nodejs.org/api/https.html#https_class_https_agent
And pass it as `agent` option in this lib.

[2016-03-02 12:19] Volox commented on #67
Sorry @misterjt but i cannot figure out how to use an `Agent` to set a proxy. The only thing i found is [node-https-proxy-agent](https://github.com/TooTallNate/node-https-proxy-agent).

[2016-03-02 19:21] misterjt commented on #67
@Volox it's right. Set up the node-https-proxy-agent object and pass it like

[code]

this is real code from my project.

[2016-03-02 19:33] Volox commented on #67
Ok, just like my implementation. Thanks @misterjt .

[2016-03-03 19:47] c0nstructer commented on #77
+1

[2016-03-04 03:13] adamboazbecker opened #88 "Calls keep returning with code:400, "the access_token provided is invalid""
I recently opened a new Instagram account and registered a new client. I entered all the information and collected my Client ID and my Client Secret.

I enter said information like so:

[code]

And I'm about to make my first call:

[code]

When all I receive back is simply:

[code]

I'm totally at a loss. I tried it with another (new) account, and the same thing is happening. With credentials of a

[2016-03-04 18:53] adamboazbecker commented on #88
Okay, the problem is a misunderstanding of the limits of the Sandbox Mode.

The [documentation here](https://www.instagram.com/developer/sandbox/) says:

I was trying to find media from users who are not in my sandbox, and so I received an error. The reason that my previous credentials weren't affected is because they are still grandfathered into the grace period, June 2016, at which time they wil

[2016-03-04 18:53] #88 closed, assigned to nobody

[2016-03-13 12:26] venil7 opened #90 "api.user_follows returns empty array"
`api.user_follows` and `api.user_followers` returns empty array `[]` for a sanboxed user who definately has plenty follows and followers

[2016-03-20 06:47] dbarros commented on #81
There is not alternative or work-around to get the same functionality that is being phased out?

[2016-04-09 14:41] BrunoQuaresma opened #94 "Error: APISubscriptionError: Invalid "client_id" and/or "client_secret.""
ig.use({
  access_token: 'foo',
  client_id: 'baar',
  client_secret: 'other'
});

app.get('/tag/:tag', function (req, res) {
  ig.tag_media_recent(req.params.tag, function(err, medias, pagination, remaining, limit) {
    io.sockets.emit('news', { hello: 'world' });
    res.json(medias);
  });
});

app.post('/tag/:tag', function(req, res) {
  console.log(req.body);
});

ig.add_tag_subscription('br

[2016-04-19 08:23] dhirajsharma072 commented on #23
Hi,
I found the solution of error "Please supply client_id and client_secret via use()" in version 0.5.8.
 Here is my sample code for solution.

[code]

Each time before calling instagram.get_authorization_url(), please call instagram.use(option).

Hope it will help for you.

[2016-04-21 14:32] matt-cook commented on #37
Looks there's a PR for this: https://github.com/totemstech/instagram-node/pull/83

[2016-05-12 13:58] prashantcanbrand opened #96 "Get information about the owner"
Which function is used for getting information the owner. means which function to use /user/self/
https://api.instagram.com/v1/users/self/?access_token=ACCESS-TOKEN

[2016-05-17 13:56] fsebbah commented on #84
I have the same problem. It seems the package is out.

[2016-05-24 04:23] prashant7july opened #97 "How am I push "users/self/follows" API which is missing."
Hi Anthony,

I am taking the pull and add one API and after push getting message as bellow.

"remote: Permission to totemstech/instagram-node.git denied to prashant7july.
fatal: unable to access 'https://github.com/totemstech/instagram-node.git/': The requested URL returned error: 403"

So please provide me the permission as early as possible.

@n1t0

[2016-05-27 09:23] robbiegleeson commented on #90
Looks like it's an Instagram issue. If you call this `https://api.instagram.com/v1/users/self/follows?access_token=ACCESS_TOKEN` you'll get the same response

[2016-05-27 09:26] robbiegleeson commented on #90
Same here but it looks to be an Instagram issue as opposed to a package issue.

[2016-05-27 10:30] venil7 commented on #90
yes, I can confirm that,
Instagram gives you no data on users sitting outside your sandbox

closing, as irrelevant for this repo..

[2016-05-27 10:30] #90 closed, assigned to nobody

[2016-05-27 10:45] robbiegleeson commented on #90
FYI I just discovered that you need to add Sandbox users to your client. You can add up to a maximum of 10. If they like your data or are one of your followers then `api.user_followers` and `api.media_likes` will return values.

[2016-05-30 16:45] PandaStyle commented on #81
+1

[2016-06-02 00:25] LoganArnett opened #98 "Change over From Instagram Brings new Error"
Been using this package for a few weeks now, everything had been working just fine, but as of the updates today to the Instagram API I have a new error:

`This client has not been approved to access this resource`

I am not asking for anything other than for the posts themselves, no comments, likes, or anything like that

Any help would be greatly appreciated

[2016-06-02 09:39] DaveAtDog commented on #98
I'm in the same boat as @LoganArnett.

[2016-06-02 10:08] super-ienien commented on #98
this is due to the new instagram's permission policy : [https://www.instagram.com/developer/review/](https://www.instagram.com/developer/sandbox/)

You need to send a permission submission in order to get access to the API. Or you can run your instagram client in sanbox mode : [https://www.instagram.com/developer/sandbox/](https://www.instagram.com/developer/sandbox/)

[2016-06-02 10:10] DaveAtDog commented on #98
Shouldn't things still work even if we're in sandbox mode? There are limits but if we're within those limits it should be fine?

[2016-06-02 10:14] super-ienien commented on #98
You need to add the users in the Sandbox Users list of your instagram Client manager. And i think you must provide a scope parameter during the oAuth process. Everything is in the instagram doc

[2016-06-02 10:16] super-ienien commented on #98
Then you must revalidate the oauth tokens of your users.

[2016-06-03 21:02] mattfiocca opened #99 "OAuthAccessTokenException: The access_token provided is invalid"
We're seeing this in our logs all of a sudden:

[code]

Here's how we're using this module:

[code]

To be honest, we've been using this a while now, and I just learned that the IG API has undergone some auth changes. What are we missing here?

Thanks in advance.

[2016-06-04 08:53] super-ienien commented on #99
see : #98

You must revalidate your users tokens

[2016-06-04 14:26] mattfiocca commented on #99
So, the way we've been using this, we don't have users at all, and we've just been aggregating public instagrams. Is this no longer a thing?

[2016-06-04 18:01] super-ienien commented on #99
sorry, i answered you too quickly.

Ithink the API now require user authentication for every endpoints. You can not use it without an user account anymore.

From the API documentation :

[https://www.instagram.com/developer/endpoints/tags/](https://www.instagram.com/developer/endpoints/tags/)

[2016-06-05 23:16] chris35469 commented on #85
Same here. Pagination shows this when printed to console.

{ next_min_id: 'AQAarTGDiuDSdWIxf9NgWIQLWhIVpKTnFAvo3uSmdzIL6U5PBxy_CHErl59z26g8JsBfkyUksVC-mHz0eqMC-c5Z6tffvnFtjOZfhktvrDE8Jg',
  deprecation_warning: 'next_max_id and min_id are deprecated for this endpoint; use min_tag_id and max_tag_id instead',
  min_tag_id: 'AQAarTGDiuDSdWIxf9NgWIQLWhIVpKTnFAvo3uSmdzIL6U5PBxy_CHErl59z26g8JsBfkyUksVC-

[2016-06-07 20:26] camwes commented on #75
considering the fact that all endpoints have to use an access_token the use function must be updated to allow for both in order to sign requests properly.

[2016-06-21 23:00] makingpippop opened #100 "404 on subscriptions, and Missing client_secret on delete"
Hi !

I've been using your module with success for a while now, but since the new API update, when I try to subscribe to a tag subscription, I receive a : 404 error.

My authentication is done with the scope : "public_content+basic" and  is successfull.

I also have an error while trying to delete all my subscriptions :
Error : oAuthClientException : Missing client_secret URL parameter.
code :400

[2016-06-23 19:21] #100 closed, assigned to nobody

[2016-06-23 19:21] makingpippop commented on #100
I just saw in the instagram change log that the function is deprecated

[2016-06-28 12:52] petrkl opened #101 "instagram-node return from callback"
I have a problem using instagram-node with Bluebird (promises library)
I make request to user_media_recent but chain .then (promise) not working.
In hdl function if before ruturn insert console.log(all)  -> all fine with data.

Please, how can solve this issue.

Here is my code

[code]

[2016-07-10 03:50] MDrooker commented on #77
Anyone have a work-around for this?

[2016-07-12 20:15] super-ienien commented on #77
This answer is because instagram don't respond with JSON to your request. You have to provide more details about your request if you wan't help.

[2016-08-11 14:15] CelsoSantos commented on #75
How are we on this?

Are there any changes to the lib that now support this behaviour?

[2016-08-12 12:26] levarne commented on #99
Has this issue been resolved?

[2016-08-12 14:09] levarne commented on #99
This worked for me, just add the token, or override the req with your own, instead of calling instagram.user(), make your own call. Thats I did till this gets fixed.

 call('GET', '/users/' + id, {access_token:'Token'}, function(err, result, remaining, limit) {
      if(err) {
          return handle_error(err, cb, retry);
      } else if(result && result.meta && result.meta.code === 200) {

[2016-08-22 20:35] olalonde opened #102 "add_tag_subscription creates a 'user' subscription"
It seems the `add_tag_subscription` method actually creates a user subscription. Here's the subscription object I get after creating a tag subscription:

[code]

I believe Instagram no longer allows tag subscriptions? Is that right?

[2016-10-03 06:42] jatinseth2007 opened #104 "[SyntaxError: Unexpected end of input] while trying to get IG posts"
Hello,

I am trying to fetch IG posts of the users by using the method

var def = Q.defer();

ig.user_media_recent(user_id.toString(), {
                count: 10000
            },
            function (err, medias, pagination, remaining, limit) {
                if (!err) {
                    def.resolve(medias, pagination);
                } else {
                  def.reject(_common_worker.ge

[2016-10-03 07:21] jatinseth2007 commented on #104
I have done some digging in error, i have found that i am getting right data from Instagram but I am getting incomplete JSON object in "pagination" var in else method: I am getting the response ended like ", "profile_picture": "https://scontent.cdninstagram.com/t5"

[2016-10-12 02:16] jspavlick commented on #104
+1 - I am starting to see this.

[2016-10-12 06:30] jspavlick commented on #104
I'm seeing this where in `call`, `req.on('end'` is firing before the actual end. `body.length < parseInt(res.headers['content-length'], 10)` and I get a JSON parsing error. If I prevent the JSON parsing under this condition, I am shortly thereafter greeted with ECONNRESET.

[2016-10-13 06:55] the-yadu commented on #104
Can we redo the call in case of end firing early?

[2016-10-13 06:56] jatinseth2007 commented on #104
Okay, so what could be the solution for this case ? what could we do to prevent it ?

[2016-10-17 18:29] jspavlick commented on #104
Adding some sort of `if` statement check like I previously suggested, could prevent the `JSON.parse` error, and instead hit the ECONNRESET. Then, in your application code, you can handle the error similarly as you would any 500 error. My limited understanding is that ECONNRESET is caused by the other end (Instagram, in this case) closing the socket unexpectedly. Personally, I'd consider that along

[2016-10-26 06:04] matt212 opened #105 "image and caption upload"
is image and its caption upload available in api !

[2016-10-31 18:13] born2net commented on #23
I see the same issue recently...
regards

Sean

[2016-11-03 16:17] ilyanoskov opened #106 "ig.user returns 404 error"
here is my simple code and it returns 404 error. I can't understand why

[code]

[2016-11-10 09:07] JonathanMH opened #107 "totems.co"
Totems.co seems to get forwarded to some kind of scam site. It would be great if you could remove the link.

[2016-11-10 10:46] statefull commented on #106
The API is out of date and it seems is not longer maintained. I'm going to fork it and start the update to be compliant with the new instagram API.

[2016-11-15 10:36] ilyanoskov commented on #106
@statefull I am trying to write a simple console script that would authenticate and print basic user info.
However, I do not want to do it in browser and try to figure out how to do so in console. Do you think there is a way? How can I get access token without any user interaction? Sorry to bother you with questions like this but I don't have anybody to ask, may be you know

[2016-11-15 23:51] olalonde commented on #85
Also broken here with `user_self_media_recent`... I'm actually getting an empty object:

[code]

Remaining and limit are incorrect as well.

[2016-11-16 00:27] olalonde commented on #85
FWIW, I switched to https://github.com/pradel/node-instagram

[2016-12-21 13:08] theCrius opened #108 "OAuthAccessTokenException when trying to access user_search endpoint"
Recently we begun to receive this response.

Error:
  code:400
  error_message: "The access_token provided is invalid."
  error_type:"OAuthAccessTokenException"

Checking in Instagram documentation seems that the endpoint used by your module should be this one: https://www.instagram.com/developer/endpoints/users/#get_users

If it's that it could be something with the scope?

I really have no idea

[2017-01-19 15:03] statefull commented on #108
In my fork I have this all worked... try it at https://github.com/statefull/instagramapi  I will be have it updated with the reported issues.

[2017-01-19 20:56] adammoisa commented on #49
Hi, I am getting an error that: OAuthClientException: Missing client_secret URL parameter when trying to use this call. Here is my call:

[code]

[2017-01-19 22:09] theCrius commented on #108
I'll give it a try, thank you!

[2017-02-16 07:08] lukechilds opened #109 "Is add_tag_subscription still supported?"
I'm trying to subscribe to new hashtag posts. It looks like this should be supported with `add_tag_subscription` however I always get an `APISubscriptionError`.

[code]

[https://requestb.in/1i1e0fi1](https://requestb.in/1i1e0fi1?inspect) never gets hit.

The subscription docs linked to in your readme have been removed: https://www.instagram.com/developer/realtime/

However this page still exists

[2017-03-10 15:46] Jazcash opened #111 "OAuthPermissionsException: This client has not been approved to access this resource."
Simple node.js script:

[code]

Returns:

[code]

Any idea what the problem is?

[2017-04-13 14:38] felipe-muner opened #113 "user_followers or user_follows return empty array in result"
I did:
step1
https://api.instagram.com/oauth/authorize/?client_id=ID&redirect_uri=http://localhost&scope=basic+public_content+follower_list+comments+relationships+likes&response_type=code

step2
curl -F 'client_id=id' \
    -F 'client_secret=secret' \
    -F 'grant_type=authorization_code' \
    -F 'redirect_uri=http://localhost' \
    -F 'code=97ca5f5d754d45d19ed8cf7f764bb1b9' \      // generate

[2017-04-28 10:15] samdoidge commented on #113
I believe this is not down to the library, but due to Instagram stopping this endpoint altogether: https://www.instagram.com/developer/endpoints/

[2017-04-28 11:04] felipe-muner commented on #113
Hello Sam Doidge,

many thanks indeed. You tried it, too?

Kind Regards.

2017-04-28 7:15 GMT-03:00 Sam Doidge <notifications@github.com>:

[2017-04-28 13:00] samdoidge commented on #113
Yes, I couldn't see a way to get these lists from the API.

[2017-05-08 10:44] s0kil commented on #111
You have to set the correct scope when authorizing a user.
https://www.instagram.com/developer/authorization/

https://www.instagram.com/oauth/authorize/?client_id=CLIENTID&redirect_uri=REDIRECT-URI&response_type=token&scope=basic+public_content+follower_list+relationships+likes+comments

[2017-05-08 10:47] s0kil commented on #113
@felipe-muner
I'm not sure if this causes the problem, but this is how you generate token, or code
https://www.instagram.com/oauth/authorize/?client_id=CLIENTID&redirect_uri=REDIRECT-URI&response_type=code&scope=basic+public_content+follower_list+relationships+likes+comments

[2017-05-10 16:18] statefull commented on #113
Use my fork.. https://github.com/statefull/instagramapi I have all the problems solved.

[2017-05-11 11:22] felipe-muner commented on #113
Hello,

BR?

Many thanks indeed.

Att

2017-05-10 13:18 GMT-03:00 Fernando Bernal <notifications@github.com>:

[2017-05-16 05:41] rogercastaneda commented on #113
hi @statefull, i tried your fork but i'm still getting an empty result and i had to check the code to figure out that i needed to add the token like parameter.

[2017-06-19 00:26] olalonde opened #115 "Cannot find module 'async'"
There seems to be a problem installing this package with node 6 and npm 5:

[code]

[2017-06-23 01:22] olalonde commented on #115
That was a bug with npm@5

[2017-06-23 01:22] #115 closed, assigned to nobody

[2017-06-23 01:23] olalonde opened #116 "Add maintainers to project"
It seems like this project is no longer maintained. Would you give it to some new maintainers?

[2017-07-25 16:29] shakked opened #117 "How do I make it always force the user to enter their login credentials instead of assuming them?"
I'm building a tool where a user would want to authenticate multiple Instagram accounts into the application. The problem I run into is if the user has already authenticated one and I initiate the OAuth dialogue again, the OAuth assumes that I want the access token of the user already logged in.

I have an iOS app that is similar and the way to avoid this is clear all the cookies of the Safari bro

[2017-08-21 08:32] saadi123 opened #119 "Cannot read property 'forEach' of undefined"
I'm trying to create an APP using Instagram API. I've generated valid authorization token but it gives me an error: Cannot read property 'forEach' of undefined whenever I try to run the nodejs code.

The code is like this:

[code]

[2017-08-22 00:10] liadz commented on #72
You have the same problem as I was having.
This is our answer: https://stackoverflow.com/questions/41286489/instagram-api-not-returning-followers

[2017-09-19 13:25] pxlprfct commented on #23
I'm still seeing this issue - first auth is fine, but subsequent auths will fail.
I slightly modified @dhirajsharma072 fix - and all seems good.

[2017-11-24 17:26] JimLynchCodes opened #121 "The access_token provided is invalid"
Hi, I'm not sure why I am getting errors every time here.  recreate my secret, follow the guide here: (https://www.slickremix.com/docs/how-to-create-instagram-access-token/) to get a access_token, and then call like this:

[code]

But sadly when I call with `node insta-service.js` I always am getting this error:
[code]

[2017-11-25 17:00] srsandy opened #122 "OAuthAccessTokenException: The access_token provided is invalid."
I Just registered a new client and I m getting

[code]

`/Users/sandeep/Desktop/git/express-app-build/app.js:21
	if(err) { throw err; }
	          ^

Error: OAuthAccessTokenException: The access_token provided is invalid.
    at handle_error (/Users/sandeep/Desktop/git/express-app-build/node_modules/instagram-node/lib/instagram.js:242:19)
    at /Users/sandeep/Desktop/git/express-app-build/node_mo

[2017-11-25 17:01] srsandy commented on #122
Can you pls help me with this pls..
how to solve this problem.

[2017-11-26 13:14] srsandy commented on #122
can someone pls answer me

[2017-12-28 20:56] jefe-spain commented on #122
the last commit of this repo is 3 years ago @srsandy , I don't think It works anymore 👍

[2017-12-29 15:38] srsandy commented on #122
@jefe-spain But then how i hit the API using this ?

[2017-12-30 04:35] tuancg93 commented on #109
@lukechilds did you fix this
me too . help me

[2017-12-30 17:18] lukechilds commented on #109
@tuancg93 sorry, no I didn't. I needed a quick solution so resorted to just polling the API and checking if the latest post had changed.

[2018-01-02 01:51] tuancg93 commented on #109
@lukechilds  yes. i didn't subcription app and page
My error : APISubscriptionError", "error_message": "Challenge verification failed

[2018-02-12 09:46] usamamashkoor commented on #70
did you find any solution...?

[2018-04-02 01:25] YasharF commented on #116
The project owner has not made any contributions across Github for over a year, and I suspect this project is considered abandoned.  On the same note, an upcoming Instagram API deprecation has been announced in favor of the Instagram Graph API: https://developers.facebook.com/blog/post/2018/01/30/instagram-graph-api-updates

I suspect another developer may need to just start a new npm package focu

[2018-08-13 15:52] technoplato commented on #105
+1

[2018-09-19 02:37] Jarmahent commented on #122
Use the Instagram api tutorial to create your own access_token with: `https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=code`

I couldnt get it to work myself using client_id and client_secret so just remove those and leave:

`ig.use({ access_token: 'xxxxxxxxxxxxxxxxxxxxxxxxx' });`

That should work.

Edit: Oops I just noticed how old this repo

[2019-10-03 19:20] #122 closed, assigned to nobody

[2021-12-25 11:50] sinapirani opened #124 "its not working yet?"